html { 
    background: lightgrey;
}

header {
    width: 100%;
    background: teal;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    line-height: 120px;
}

main {
    width: 60%;
    margin-top: none;
    margin-left: auto;
    margin-right: auto;
    background: darkgrey;
}

p {
    margin-top: 0;
}