.box {
    box-sizing: border-box;
    text-align: center;
    font-size: large;
    background: #eee;
}

#fixedDiv {
    width: 200px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 40px 0px;
}

#absoluteDiv {
    position: absolute;
    padding: 20px 50px;
    background: #999;
    bottom: 0%;
    right: -5%;

}

#relativeDiv {
    position: relative;
    padding: 20px 0px 100px;
}

#mainText {
    font-size: large;
    padding: 0px 100px;
    line-height: 30px;
}

